@import 'tailwindcss';

@theme {
  --font-heading: "Quicksand", sans-serif;
  --font-body: "Source Sans 3", sans-serif;
  --animate-cursor-blink: cursor-blink 1000ms infinite;

  @keyframes cursor-blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
}

@layer base {
  html {
    @apply font-body;
    font-weight: normal;
    font-optical-sizing: auto;
    font-style: normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }
}
