@import 'tailwindcss';

@theme {
  --font-heading: "Playfair Display", serif;
  --font-body: "Source Sans 3", sans-serif;
  --shadow-section: inset 0 2px 4px 0 rgb(0 0 0 / 0.05), inset 0 -2px 4px 0 rgb(0 0 0 / 0.05);
  --shadow-card: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
  --shadow-price-card: 8px 8px 0 var(--color-neutral-200);
  --height-cursor: 20px;
  --animate-cursor-blink: cursor-blink 1000ms infinite;

  @keyframes cursor-blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
}

@layer base {
  html {
    @apply font-body;
    font-weight: normal;
    font-optical-sizing: auto;
    font-style: normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }
}

@layer components {
  .button {
    @apply
      text-base
      text-white
      bg-linear-to-r
      from-blue-400
      to-blue-700
      font-semibold
      rounded-lg
      cursor-pointer
      transition-all
      px-4
      py-3
      active:scale-[0.98]
    ;
  }

  .button--full {
    @apply w-full block;
  }

  .section-dotted {
    @apply
      bg-neutral-50
      bg-[radial-gradient(circle,var(--color-blue-300)_1px,rgba(0,0,0,0)_1px)]
      bg-[length:40px_40px]
      bg-repeat
      shadow-section
    ;
  }

  .section-title {
    @apply
      text-2xl
      md:text-4xl
      text-transparent
      bg-clip-text
      bg-gradient-to-r
      from-neutral-400
      to-black
      mb-3
    ;
  }

  .section-subtitle {
    @apply
      font-body
      text-base
      relative
      mb-12
      before:w-[52px]
      before:h-[2px]
      before:bg-gradient-to-r
      before:from-blue-400
      before:to-blue-700
      before:rounded-lg
      before:absolute
      before:-bottom-4
      before:left-1/2
      before:-translate-x-1/2
    ;
  }
}

/* Header navigation */
.header-nav--row {
  @apply
    hidden
    items-center
    gap-2
    md:flex
  ;
}

.header-nav--col {
  @apply
    hidden
    flex-col
    gap-2
    overflow-auto
    py-3
    data-[active]:flex
  ;
}

.header-nav__link {
  @apply
    text-base
    font-semibold
    rounded-lg
    relative
    px-3
    py-1
    hover:bg-linear-to-r
    hover:text-white
    hover:from-blue-400
    hover:to-blue-700
  ;
}

.header-nav--col .header-nav__link {
  @apply py-2;
}

.header-nav-toggle {
  @apply
    w-[20px]
    h-[20px]
    flex
    flex-col
    justify-between
    cursor-pointer
    shrink-0
    md:hidden
  ;
}

.header-nav-toggle span {
  @apply
    w-full
    h-1
    bg-linear-to-r
    from-blue-400
    to-blue-700
    rounded-xs
    transition-all
  ;
}

.header-nav-toggle[data-active] span:nth-child(1) {
  @apply translate-y-[8px] rotate-[45deg];
}

.header-nav-toggle[data-active] span:nth-child(2) {
  @apply opacity-0;
}

.header-nav-toggle[data-active] span:nth-child(3) {
  @apply translate-y-[-8px] rotate-[-45deg];
}

/* Intro section */
.intro-chat {
  @apply
    max-w-[420px]
    min-h-[100px]
    md:min-h-auto
    w-full
    flex
    items-start
    gap-4
    mt-8
    mx-auto
    md:mt-0
    md:absolute
    md:bottom-[-32px]
    md:left-1/2
    md:translate-x-[-50%]
    md:translate-y-[100%]
  ;
}

.intro-chat__avatar {
  @apply
    w-[40px]
    h-[40px]
    text-[24px]
    bg-white
    text-center
    rounded-full
    shrink-0
    flex
    items-center
    justify-center
    overflow-hidden
    shadow-card
    md:w-[60px]
    md:h-[60px]
    md:text-[36px]
  ;
}

.intro-chat__bubble {
  @apply
    min-w-auto
    max-w-full
    text-neutral-700
    bg-white
    rounded-lg
    grow
    overflow-hidden
    shadow-card
    p-4
    md:min-w-[320px]
    md:max-w-[320px]
  ;
}

.intro-chat__text {
  @apply text-sm md:text-base;
}

.intro-next {
  @apply
    text-2xl
    text-white
    leading-0
    absolute
    bottom-0
    left-1/2
    translate-x-[-50%]
    cursor-pointer
    opacity-70
    transition-all
    p-4
    hover:opacity-100
    active:scale-[0.9]
    md:text-4xl
  ;
}

/* Advantage section */
.advantage-list {
  @apply
    grid
    grid-cols-1
    md:grid-cols-2
    gap-4
  ;
}

.advantage-list-item {
  @apply
    bg-gradient-to-r
    from-white
    to-neutral-50
    shadow-card
    rounded-lg
    p-4
  ;
}

.advantage-list-item__heading {
  @apply flex items-center gap-4 mb-4;
}

.advantage-list-item__emoji {
  @apply
    w-[48px]
    h-[48px]
    md:w-[56px]
    md:h-[56px]
    text-[24px]
    md:text-[28px]
    leading-0
    rounded-full
    bg-gradient-to-r
    from-neutral-100
    to-neutral-200
    flex
    items-center
    justify-center
  ;
}

.advantage-list-item__title {
  @apply font-heading text-xl md:text-2xl;
}

.advantage-list-item__description {
  @apply text-neutral-500 text-sm md:text-base;
}

/* Pricing section */
.pricing-list-item {
  @apply
    bg-gradient-to-t
    from-blue-400
    to-blue-700
    rounded-lg
    shadow-price-card
    p-[2px]
  ;
}

.pricing-list-item > div {
  @apply bg-white rounded-[inherit] p-4;
}

.pricing-list-item__title {
  @apply
    text-[1.2rem]
    tracking-wide
    leading-[1.5]
    text-transparent
    bg-clip-text
    bg-gradient-to-r
    from-neutral-500
    to-black mb-1
    md:text-[1.5rem]
  ;
}

.pricing-list-item__description {
  @apply text-sm text-neutral-600 mb-1;
}

.pricing-list-item__price {
  @apply mb-4;
}

.pricing-list-item__price span:first-of-type {
  @apply text-[2rem] leading-[1.5];
}

.pricing-list-item__price span:last-of-type:not(:only-child) {
  @apply text-sm text-neutral-700;
}

.pricing-list-item hr {
  @apply
    h-[2px]
    bg-linear-to-r
    border-none
    from-blue-400
    to-blue-700
    mx-[-16px]
    my-4
  ;
}

.pricing-list-item__details {
  @apply text-sm list-disc pl-4;
}

/* Testimonial section */
.testimonial-list {
  @apply w-[280px];
}

.testimonial-list .swiper-slide {
  @apply
    flex
    items-center
    justify-center
    rounded-2xl
    bg-white
    shadow-card
  ;
}

.testimonial-list-item {
  @apply
    max-w-[320px]
    shadow-card
    bg-gradient-to-r
    from-white
    to-neutral-50
    rounded-lg
    p-4
  ;
}

.testimonial-list-item__decoration {
  @apply
    text-6xl
    text-neutral-200
    absolute
    top-0
    right-2
  ;
}

.testimonial-list-item__header {
  @apply flex items-center gap-4 mb-4 relative;
}

.testimonial-list-item__emoji {
  @apply
    w-[48px]
    h-[48px]
    md:w-[56px]
    md:h-[56px]
    text-[24px]
    md:text-[38px]
    leading-0
    flex
    items-center
    justify-center
    rounded-full
    shadow-card
  ;
}

.testimonial-list-item__name {
  @apply text-base;
}

.testimonial-list-item__plan {
  @apply text-sm font-heading;
}

.testimonial-list-item__review {
  @apply text-sm italic;
}

/* Contact section */
.contact-card {
  @apply
    max-w-4xl
    bg-gradient-to-r
    from-blue-400
    to-blue-900
    rounded-lg
    shadow-card
    mx-auto
  ;
}

.contact-card__inner {
  @apply
    bg-[radial-gradient(circle,var(--color-white)_1px,rgba(0,0,0,0)_1px)]
    bg-[length:30px_30px]
    bg-repeat
    mask-alpha
    mask-x-from-90%
    mask-x-to-transparent
    mask-y-from-90%
    mask-y-to-transparent
    p-12
  ;
}

/* Footer section */
.footer-social-medias {
  @apply flex gap-2;
}

.footer-social-medias a {
  @apply
    w-8
    h-8
    text-white
    text-[20px]
    bg-blue-600
    flex
    items-center
    justify-center
    rounded-full
  ;
}

.footer-sitemaps {
  @apply
    grid
    grid-cols-2
    gap-4
    md:grid-flow-col
    md:gap-12;
}

.footer-sitemaps-item__title {
  @apply font-semibold mb-2;
}

.footer-sitemaps-item__list {
  @apply flex flex-col gap-2;
}

.footer-sitemaps-item__list a {
  @apply underline-offset-4 hover:text-blue-600 hover:underline;
}
